/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 1 déc. 2022, 17:36:10
    Author     : loufo
*/

@media only screen and (max-width:500px){
    header { background-image: none; width: auto; margin: 0; height: 160px;}
    
    nav ul { margin-left: 0; margin-top: 0; padding-left: 0;}
    
    nav li a {
        display: block;
        margin-top: 1px;
        height: 25px;
        padding: 1px;
    }
    
    #principal { width: auto; height: auto;}
    
    #principal article { width: auto; height: 100%; float: none;}
    #principal aside { display: none;}
    
    #sectthema { height: auto; margin: 0 auto 0 auto; width: 100%;}
    
    #sectthema article { height: auto;}
    
    #sectthema #Gauche, #sectthema #Milieu, #sectthema #Droite {background-image: none; width: 30%; float: left;}
    
    
}


@media print {
    body, #casques article p.marque { font-size: 15pt; font-family: serif;}
    
    header, nav, footer, #video, #casques article div.classement { display: none;}
    
    #casques article { width: 100%; height: 140px; margin: 0;}
    #casques article img { float: left;}
    #casques article p.prix, #casques article p.marque, #casques article p.modele, #casques article p.stockok, #casques article p.stockko { float: left; padding: 58.5px 10px;}
    #casques article p.stockok, #casques article p.stockko { background-color: transparent; width: 200px;}
    #casques article p.modele { width: 330px;}
    
    #casques article p.stockok abbr:after,    #casques article p.stockko abbr:after { text-transform: none; content: " : " attr(data-tip);}
    #casques article p.stockok abbr:before { text-transform: none; content: "/!\\";}
}